
<h2 id="turn"></h2>

<div id="playerRes"><h1>Player Resources</h1>
</div>

<div id="newPieces">The New Pieces should show up here: </div>

<button id="confirmPosition">Confrim Position</button>

<button id="tryRes">Try Res</button>

<div id="year"></div>

<div id="playerRes"></div>

<div id="explination"></div>

<button id=spawnPortal>Place Spawn Portal</button>
<button id="spawnPortalConfirm">Confirm Spawn Portal</button>

<a href="/create-piece">Create Piece</a>

<button id="testPiece">Create Test Piece</button>

<button id="createBoard">Create Board</button>

<button id="startTurn" >Start Game</button>

<button id="attackPiece">Attack</button>

<button id="pieceAction">Piece Action</button>

<button id="moveSimulator">Move Simulator</button>

<button id="endTurn">End Turn</button>

<div id="board"></div>

