

<div>
    <label for="playerSelect">Select Player</label>
    <select name="playerSelect" id="playerSelect">
        <option value="Triangle">Triangle</option>
        <option value="Square">Square</option>
        <option value="Circle">Circle</option>
    </select>
</div>

<div id="year"></div>

<div id="playerRes"></div>

<div id="explination"></div>

<button id=spawnPortal>Place Spawn Portal</button>
<button id="spawnPortalConfirm">Confirm Spawn Portal</button>

<a href="/create-piece">Create Piece</a>

<button id="createBoard">Create Board</button>

<div id="board"></div>

