
    <div class="login" id="playerName">
        <h1>Find Player</h1>
        <label for="playerNameInput">What's Your Name?</label>
        <input type="text" id="playerNameInput" name="playerNameInput">
        <button id="playerFindSubmit">Submit</button>
    </div>




    <div class="login">
        <h1>Create Player</h1>
        <label for="playerCreateInput">What's Your Name?</label>
        <input type="text" id="playerCreateInput" name="playerCreateInput">
        <button id="playerCreateSubmit">Submit</button>
    </div>



<script src="javascript/playerFrontEnd.js"></script>