<h1>Set Up Game</h1>

<button id="createGame" >Create Game</button>

<div id="gameOptions">
    <label for="numberOfPlayers">Select Number of Players</label>
<input type="number" id="numberOfPlayers" name="numberOfPlayers" min="2" max="4" ></input>
<br>
<label for="gameName">Create Name for Game</label>
<input type="text" id="gameName" name="gameName">
<button id="start">Start</button>
</div>

<div id="games"></div>

<button id="findGame">Find Game</button>
