#board { 
    display: grid;
    grid-template-columns: 120px 120px 120px  120px  120px 120px 120px 120px  120px  120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
    }

.box {
    color: black;
    border: 2px solid black;
}

.portalImage {
    height: 80px;
    width: 80px;
}

.login {
    border: 4px black;
}

.pieceImage {
    height: 80px;
    width: 80px;
}

#attackPiece {
    display: inline-block !important;
}